<div class="mt-auto ">
    <footer class=" footer  py-3 mt-5" style="background-color: rgb(106, 156, 40);">
        <div class="container">
            <span class="fw-bold fs-4" style="color: rgb(255, 255, 255);">&copy; Tech Legends 2021</span>
        </div>
    
    </footer>
</div>