<div class="mt-auto ">
    <footer class=" footer mt-5 pt-5" style="background:#222;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img class="navbar-brand" src="https://res.cloudinary.com/dzyljmuqo/image/upload/v1620084022/techLegends/logo_c8p8mf.png" alt="" width="35" height="35" class="d-inline-block align-text-center">
                    <div class="d-inline-block fs-3" style="color: rgb(255, 255, 255);">Tech Legends</div>
                    <div class="mt-2" style="color: aliceblue;"><i class="fas fa-hand-point-right"></i> Designed and Built with all the love &#128151; for Computers and the Legends who are Responsible for Today's Technology. This Application is Just a Tribute to all the Legends Involved in Development of Computers and Technology</div>
                </div>
                <div class=" col-md-3 offset-md-1 " id="contact">
                    <img class="ms-2 navbar-brand" src="https://res.cloudinary.com/dzyljmuqo/image/upload/v1621694933/techLegends/phone_neifj7.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
                    <div class="fs-3" style="color: rgb(255, 255, 255);">Contact:</div>
                    <div class="mt-2" style="color: aliceblue;">###, <br> Jain University, B'lore<br> <i class="fas fa-envelope"></i> akashpurushotham@yahoo.com</div>
                </div>
                
                <div class=" col-md-3 offset-md-1 ">
                    <img class="navbar-brand ms-5" src="https://res.cloudinary.com/dzyljmuqo/image/upload/v1621695818/techLegends/processing_sgvqry.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
                    <div class=" fs-3" style="color: rgb(255, 255, 255);">About Developer:</div>
                    <div class="mt-2" style="color: aliceblue;">Made with Love &#128151;  by <br> <a style="color: aliceblue;" href="https://www.itsakash.cf/"><i class="fas fa-laptop-code"></i> Akash Purushotham</a> </div>
                </div>
                
                <%/*<div class=" col-md-3 offset-md-1 ">
                    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="akash-purushotham-2096a5148" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://in.linkedin.com/in/akash-purushotham-2096a5148?trk=profile-badge"></a></div>
                </div>*/%>
                
            </div>
            <div class="fs-5 mt-5" style="color: rgb(255, 255, 255);">&copy; Tech Legends 2021</div>
        </div>
    </footer>
</div>

