<% layout('layouts/boilerplate') %> 
<div class="row my-5">
    <div class="col-md-6 offset-md-3">
<h1 class="text-center">New Legend</h1>
<form action="/legends/new" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
    <div class="mb-3">
        <label for="name" class="form-label">Name: </label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Input Name" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="DOB">Date Of Birth: </label>
        <input class="form-control" type="date" name="DOB" id="DOB" required>
    </div>
    <div class="mb-3">
        <label for="POB" class="form-label">Place Of Birth: </label>
        <input type="text" class="form-control" name="POB" id="POB" placeholder="Birth Place" required>
    </div>
    <!-- <div class="mb-3">
        <label class="form-label" for="image">Image: </label>
        <input type="text" class="form-control" name="image" id="image" placeholder="Paste the image's URL here" required>
    </div> -->
    <div class="mb-3">
        <label class="form-label" for="images">Upload Images</label>
        <input class="form-control" type="file" id="images" name="images" multiple>
    </div>
    <div class="mb-3">
        <label for="about" class="form-label">About: </label>
        <textarea class="form-control" name="about" id="about" cols="30" rows="5" required></textarea>
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
</div>
</div>
