<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-6 offset-3 my-md-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading h1"><%=err.message %> </h4>
            <% console.log(err.stack) %> 
          </div>
    </div>
</div>