<% layout('layouts/boilerplate') %> 
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 style="text-align: center;">Register</h1>
        <form action="/register" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">User Name: </label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email: </label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password: </label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <button class="btn btn-primary">Sign UP</button>
        </form>
        <div class="mt-2">Have an Account? <a href="/login">Login</a></div>
    </div>
</div>